# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
AppTeatroIOS/AppTeatro/xcschememanagement.plist
AppTeatroIOS/AppTeatro.xcodeproj/project.xcworkspace/xcuserdata/lucasfarias.xcuserdatad/UserInterfaceState.xcuserstate
AppTeatroIOS/AppTeatro.xcodeproj/xcuserdata/lucasfarias.xcuserdatad/xcschemes/xcschememanagement.plist
AppTeatroIOS/AppTeatro/Breakpoints_v2.xcbkptlist
AppTeatroIOS/AppTeatro/UserInterfaceState.xcuserstate

# Created by https://www.gitignore.io/api/cocoapods

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE LOCK FILE
Pods/


# End of https://www.gitignore.io/api/cocoapods

