<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500499682597-s7k05u3b7oo5dvehcvp2f7b2kpvkosin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500499682597-s7k05u3b7oo5dvehcvp2f7b2kpvkosin</string>
	<key>API_KEY</key>
	<string>AIzaSyBPPJa4VXSCb8-vuvwSndEI23YuqhT9e48</string>
	<key>GCM_SENDER_ID</key>
	<string>500499682597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyMac.AppTeatro</string>
	<key>PROJECT_ID</key>
	<string>today-7b8b5</string>
	<key>STORAGE_BUCKET</key>
	<string>today-7b8b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500499682597:ios:ca6a6c0a94af7020</string>
	<key>DATABASE_URL</key>
	<string>https://today-7b8b5.firebaseio.com</string>
</dict>
</plist>